header .buyButton {
  position: relative;
}

header .buyButton span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 65%;
  right: -5px;
}
