@import 'variables';
@import 'button';
@import 'header';
@import 'footer';
@import 'container';
@import 'media';
@import 'logo';


body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: $black;
}