@import 'variables';
@import 'button';
@import 'header';
@import 'footer';
@import 'container';
@import 'media';
@import 'logo';
@import 'shoppingbagButton';


body {
  font-family: Arial, sans-serif;
  color: $black;
}
.buyButton {
  font-size: 20px;
}